version: "3.9"

services:
  backend:
    container_name: fashion-backend
    build: ./backend

    # Load environment variables (including GOOGLE_API_KEY)
    env_file:
      - ./backend/.env

    environment:
      CATALOG_DB_PATH: /app/catalog.db
      CATALOG_IMAGES_DIR: /app/archive/images

      USE_NANOBANANA: "true"
      GCP_PROJECT_ID: gen-lang-client-0874599388
      GCP_LOCATION: us-central1
      NANOBANANA_MODEL: gemini-2.5-flash-image

      GOOGLE_APPLICATION_CREDENTIALS: /app/keys.json

    volumes:
      # Mount DB file
      - ./backend/catalog.db:/app/catalog.db

      # Mount images directory
      - ./backend/archive/images:/app/archive/images

      # Service account key
      - ./backend/keys.json:/app/keys.json:ro

      # Mount only source code (NOT the whole backend folder)
      - ./backend/app.py:/app/app.py

    ports:
      - "8000:8000"
    restart: always

  frontend:
    container_name: fashion-frontend
    image: nginx:alpine

    volumes:
      - ./index.html:/usr/share/nginx/html/index.html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro

    ports:
      - "8080:80"

    depends_on:
      - backend

    restart: always
